<!DOCTYPE html>
<html>

<head>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/styles.css"> 
    
    {% block head %}
        <title> Hig School </title>
    {% endblock %}

</head>

<body>
    <header>
        <div class="links">
            <a href="/" class="active"> Teachers</a>
            <a href="/members"> Students</a>
        </div>
    </header>

    {% block content %} 
    {% endblock %}
</body>

</html>