{% extends "layout.html" %} {% block head %}
<title> Sobre - Luãn Costa </title>
{% endblock %} {% block content %}
<div id="warapper">
    <img src="https://avatars0.githubusercontent.com/u/36084152?s=460&u=e440dc38fH4aYeFL7mbP3WEV4Y78X3TMRmAzpmRc&v=4" alt="Luãn Costa">
    <h1>Luãn Costa</h1>
    <h2>Podcaster, Leitor e Escritor</h2>
    <p>Estudante e amante de novas tecnologias e conceitos da modernidade!</p>
</div>

<div class="links" id="links-footer">
    <a href="https://github.com/LuanMarcosCosta" target="blank"> GitHub</a>
    <a href="https://www.instagram.com/luan_costa_21/" target="blank"> Instagram</a>
</div>
{% endblock %}