<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de posts e iframe</title>
    <link rel="stylesheet" href="/Modulo2/Desafios/Desafio 03/desafio03.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<header>
    <h1>Conteúdos</h1>
</header>

<body>
    <div class="cards">
        <div class="card" id="mapas-com-react-usando-leaflet/">
            <div class="card_image_container">
                <img src="https://blog.rocketseat.com.br/content/images/2020/11/blog-thumb-utilizando-mapas-no-react-com-leaflet-1.jpg" alt="">
            </div>
            <p>Mapas com React usando Leaflet</p>
            <p>Thiago Marinho </p>
            <p> 11 MIN DE LEITURA</p>
        </div>

        <div class="card" id="nextjs-novidades-na-versao-10-e-atualizacao-do-blog-para-melhorar-a-performance/">
            <div class="card_image_container">
                <img src="https://blog.rocketseat.com.br/content/images/2020/11/capa_visao-geral-sobre-next-js-na-versao-10-e-atualizacao-do-blog-para-melhorar-a-performance.jpg" alt="">
            </div>
            <p>Next.JS - Novidades na versão 10 e atualização do blog para melhorar a performance</p>
            <p>Thiago Marinho</p>
            <p>4 MIN DE LEITURA</p>
        </div>

        <div class="card" id="dark-mode-com-css-mudando-a-aparencia-do-blog-de-maneira-simples-e-rapida/">
            <div class="card_image_container">
                <img src="https://blog.rocketseat.com.br/content/images/2020/10/dark-mode-com-css-mudando-a-aparencia-do-blog-de-maneira-simples-e-rapida.jpg" alt="">
            </div>
            <p>Dark Mode com CSS — mudando a aparência do Blog de maneira simples e rápida</p>
            <p>Thiago Marinho</p>
            <p>3 MIN DE LEITURA</p>
        </div>
    </div>

    <div class="modal_overlay">
        <div class="modal">
            <a class="close_modal">
                <i class="material-icons">close</i>
            </a>

            <a class="maximize_modal">
                <i class="material-icons">maximize</i>
            </a>

            <div class="modal-content">
                <!--Textos serão colocados aqui a partir da variável-->
                <iframe src="" frameborder="0"></iframe>
            </div>
        </div>
    </div>

    <script src="/Modulo2/Desafios/Desafio 03/desafio03.js"></script>
</body>

</html>