{% extends "layout.njk" %}

{% block content %}

    <div class="card">
        <section class="avatar" 
            style="background: url(https://source.unsplash.com/collection/4821422/500x500) no-repeat center center / cover">           
        </section>

        <section class="details">

            <div class="item">
                <div>
                    <span>Nome Completo</span>
                    <span>Luãn Marcos da Costa Lã</span>
                </div>
            </div>

            <div class="item">
                <div>
                    <span>Idade</span>
                    <span>24 Anos</span>
                </div>
            </div>

            <div class="item">
                <div>
                    <span>Escolaridade</span>
                    <span>Ensino Superior</span>
                </div>
            </div>

            <div class="item">
                <div>
                    <span>Disciplina</span>
                    <span>Relacionamento com Clientes</span>
                </div>
            </div>

            <div class="item">
                <div>
                    <span>Inicio das Atividades na Escola</span>
                    <span>13/06/2016</span>
                </div>
            </div>
        </section>
    </div>

{% endblock content %}
