@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root {
    --primary-color: #7159c1;
    --second-color: #F7DF1E;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 16px;
    background-color: aliceblue;
    text-align: center;
}

.links a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.links a:hover {
    transition: 300ms;
    color: var(--primary-color);
}

.card {
    background-color: white;
    width: 900px;
    height: 450px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 40% 60%;
}

.details {
    padding: 16px;
}

.details .item {
    margin: 12px 0;
    border-bottom: solid 1px #000;
}

.details .item span {
    padding: 8px 16px;
    border-radius: 16px;
    color: #777;
    display: inline-block;
    font-weight: bold;
    font-size: 12px;
}

.details .item span:first-child {
    padding-top: 16px;
    font-size: 18px;
    color: #7159c1;
    text-transform: uppercase;
}

.details .item:last-child {
    border: none;
}